*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family--monserrat;
  font-weight: 400;
  font-size: 14px;
  color: $color-text-main;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  font-style: 42px;
}

.page-body {
  padding-top: 80px;

  &--lock {
    overflow: hidden;
  }

  @media(min-width:1200) {
    padding-top: 110px;
    background-color: aquamarine;
  }
}

.container {
  padding: 0 10px;
}