$font-family--monserrat: "Montserrat", sans-serif;

$main-background: #00093C;
$color-text-main: #000;
$color-text-light: #fff;
$color-gradient-first: #f7941d;
$color-gradient-last: #27aae1;
$gray4: #BDBDBD; // цвет назван как в макете, после прочтения удалить)
$gray2: #4F4F4F; // цвет назван как в макете, после прочтения удалить)
$color-orang-hover: #FFAE4D;