$font-family--monserrat: "Montserrat", sans-serif;

$color-primary:           #000000;
$color-secondary:         #FFFFFF;

$color-orange:            #F7941D;
$color-orange--light:     #FFAE4D;
$color-orange--lighter:   #FFCE94;

$color-blue:              #27AAE1;
$color-blue--light:       #C7EEFF;
$color-blue--dark:        #00093C;

$color-gray--1:           #333333;
$color-gray--2:           #BDBDBD;
$color-gray--4:           #4F4F4F;

$color-green:             #B8EFCF;
$color-yellow:            #FFE38E;
$color-purple:            #DDDDFF;
$color-pink:              #FFEEF6;

$color-gradient--90deg:     90deg, rgb(247, 148, 29), rgb(39, 170, 225) 100%;


$width-sm:    576px;
$width-md:    768px;
$width-lg:    992px;
$width-xl:    1200px;