.card {
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.card-reviews,
.card-info {
  background: url(../../../images/common/card_bg.svg) center center/cover no-repeat;
  padding: 42px 10px 100px 10px;
}

//card-info
.card-info {
  &__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 2;

  }

  &__name {
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__text {
    line-height: 20px;
    text-wrap: balance;
    color: $color-gray--2;
  }

  &__wrapper {
    width: 144px;
    height: 144px;
    margin-bottom: 25px;

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      border-radius: 50%;
      background: linear-gradient(45deg, $color-orange 0%, $color-blue 100%);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: 2px solid transparent;
      background-color: $color-secondary;
      border-radius: 50%;
      z-index: 1;
    }
  }
}

//card-reviews


//scroll
.my-carousel-progress {
  background: $color-secondary;
}
.my-carousel-progress-bar {
  margin-top: 40px;
  transition: width 400ms ease;
  width: 0;
  background-image: linear-gradient(45deg, $color-orange 0%, $color-blue 100%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  height: 3px;
}

//media
@media screen and (min-width: $width-md) {

  .card-reviews,
  .card-info {
    padding: 62px 0 90px 0;
  }

  .card__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}