.tabs {
  &__btn {
    background-color: $color-secondary;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 6px;

    position: relative;
    transition: box-shadow 0.3s ease;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 102%;
      height: 102%;
      background: linear-gradient(90deg, $color-orange 0%, $color-blue 100%);
      border-radius: 5px;
      transform: translate(-50%, -50%) scale(1);
      transition: transform 0.3s ease;
      z-index: -1;
      filter: blur(4px);
      opacity: 0.4;
    }

    &:hover::after {
      filter: blur(10px);
      opacity: .82
    }
  }

  &__name {
    font-weight: 700;
    text-decoration: none;
    color: $color-primary;
  }

  &__age {
    color: $color-gray--2;
    font-size: 12px;
    text-decoration: none;
  }

  &-filter {
    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;

      & input {
        display: none;
      }

      & span {
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border: 2px solid $color-gray--1;
          border-radius: 50%;
          background: transparent;
          transition: border-color 0.8s;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(10%, -50%);
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background-color: white;
          background-position: 50% 50%;
          background-size: 10px 11px;
          background-repeat: no-repeat;
          background-image: url('/images/common/dot.png');
          opacity: 0;
          transition: opacity 0.8s;
        }
      }
    }
  }
}

.tabs-filter__label input:checked + span::after {
  opacity: 1;
}
.tabs-filter__label input:checked+span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, $color-orange 0%, $color-blue 100%);
  transition: opacity 0.8s;
}

.nav-underline {
  .nav-link {
    position: relative;
    padding-bottom: 10px;
    border-bottom: none;

    &.active {
      color: #fff;
      font-weight: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: linear-gradient(90deg, $color-orange 0%, $color-blue 100%);
        border-radius: 2px;
      }
    }
  }
}


@media screen and (min-width: $width-lg) {
  .tabs {
    &__btn {
      background-color: $color-secondary;
      padding: 15px 20px;
      margin-right: 20px;
    }

    &__name {
      font-size: 16px;
    }
  }
}